@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  background-color: #000;
  position: relative;
  min-height: 100%;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url("/images/pattern.svg");
  background-repeat: repeat;
  background-size: 304px 304px;
  opacity: 0.15;
  filter: blur(1px);
  pointer-events: none;
}
